<header>
    <div class="home-background">
        <h1 class="sour-gummy-thin">Plantea</h1>
    </div>
    <div class="arrow" id="scroll-arrow" (click)="scrollToNextSection()"></div>
</header>
<section #plantPart>
    <div class="presentation">
        <h1 class="sour-gummy-thin">🌿Découvrez Nos 10 Plantes Coup de Cœur🌿</h1>
        <p class="sour-gummy-thin">Bienvenue dans notre univers verdoyant ! <br><br>
            Nous avons sélectionné pour vous 8 plantes exceptionnelles qui embelliront votre intérieur ou votre jardin. Que vous soyez un expert en jardinage ou un amateur curieux, ces plantes sauront vous inspirer.</p>
    </div>
    <app-plant-list></app-plant-list>
</section>
