<div class="first-container">
    <h1 class="sour-gummy-thin">Les Plantes</h1>
    <div class="filter-container">
        <div class="filter">
            <div class="input-filter">
                <input type="text" placeholder="Nom de la plante"/>
                <span class="material-symbols-outlined">search</span>
            </div>
        </div>
        <div class="filter" >
            <app-select></app-select>
        </div>
        <div class="filter">burger classiques</div>
    </div>
</div>
<app-plant-list limit="10"></app-plant-list>
